.table {
    margin: 10px;
}
.content_row {
    border: none;
}
.content_row:focus {
    outline: none;
  }
.button_commands {
    display: flex;
    justify-self: center;
    align-items:center;
}
.button_commands .delete {
    margin-right: 5px;
}