.table {
    margin: 10px;
}
.content_row {
    border: none;
}
.content_row:focus {
    outline: none;
  }
.button_commands {
    display: flex;
    justify-self: center;
    align-items:center;
}
.button_commands .delete {
    margin-right: 5px;
}

#staticEmail2 {
    width: 100px;
    margin: 5px 0px;
    border: solid
}

.wrapInputPhase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}